@{
    Layout = "~/Plugins/Misc.FacebookShop/Views/Layout.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("HomePageProducts")
    </div>
</div>
