@{
    Layout = "~/Plugins/Misc.FacebookShop/Views/Layout.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Action("HomePageProducts", "MiscFacebookShop")
    </div>
</div>
